body {
  background-image: url("./bg.jpg");
}
.container {
  margin-top: 10%;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

form input {
  display: flex;
  flex-direction: column;
}
